[submodule "include/ros2_cat_software_files"]
	path = include/ros2_cat_software_files
	url = https://github.com/KittyEclipse/ros2_cat_software_files.git
[submodule "include/docker-jetson-experiments"]
	path = include/docker-jetson-experiments
	url = https://github.com/KittyEclipse/docker-jetson-experiments.git
[submodule "include/CSI-Camera"]
	path = include/CSI-Camera
	url = https://github.com/KittyEclipse/CSI-Camera.git
